@model to.frontend.Models.Home.CreateAdministratorModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron headerBackground">
    <h1>TOTAL ORDER</h1>
</div>

@if (TempData["AdminUserExistsAlready"] != null && (bool)TempData["AdminUserExistsAlready"])
{
    <div class="row">
        <div class="alert alert-danger">You're out of luck! Somebody else already created an Administrator account.</div>
    </div>
}

<br/><br/>
<div class="row">
    <div class="col-md-6" style="text-align: center;">
        <img src="/images/create_voting.jpg" class="homeImage"/>
        <br/><br/>
        <p><a class="btn btn-primary" href="Backlogs/Create" style="width: 300px; font-size: 1.5em">Create a new Voting</a></p>
    </div>
    <div class="col-md-6" style="text-align: center;">
        <img src="/images/list_votings.jpg" class="homeImage" />
        <br/><br/>
        <p><a class="btn btn-primary" href="Backlogs/" style="width: 300px; font-size: 1.5em">Show my Votings</a></p>
    </div>
</div>