@model to.frontend.Models.Home.CreateAdministratorModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Total Order</h1>
</div>

@if (TempData["AdminUserExistsAlready"] != null && (bool)TempData["AdminUserExistsAlready"])
{
    <div class="row">
        <div class="alert alert-danger">You're out of luck! Somebody else already created an Administrator account.</div>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <h2>Create a new Voting</h2>
        <p><a class="btn btn-default" href="Backlogs/Create">Create &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Show my Votings</h2>
        <p><a class="btn btn-default" href="Backlogs/">Show</a></p>
    </div>
</div>