<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>We are sorry, something unexpected happened...</h1>
        <h2>If this issue persists please raise an issue in the <a href="https://github.com/Swyx/totalorder/">Github Repository</a> </h2>
    </hgroup>
</body>
</html>
